MessengerAI Bot.json
{
  "name": "MessengerAI Bot",
  "nodes": [
    {
      "parameters": {
        "multipleMethods": true,
        "path": "199cc564-6467-470e-b48d-b04f6e984f3f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b3533d8f-9cba-4a5a-9d38-903078953c7f",
      "name": "Webhook",
      "webhookId": "199cc564-6467-470e-b48d-b04f6e984f3f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "82a7f2a5-3969-4c7e-bf30-216a2cd6a779",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "175ccba5-8522-47f6-81c1-5ef75ce30b14",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "hello",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        256,
        -48
      ],
      "id": "900c3bde-1e46-49a7-af4c-582534b0645f",
      "name": "Filter"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        464,
        -48
      ],
      "id": "43ca75b7-081e-422d-a5aa-e1c1ec011a1e",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v24.0/{{ $('Webhook').item.json.body.entry[0].messaging[0].recipient.id }}/messages ",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAJZCnZBRCqU4BQLrjUDfawZBonZCgYuNRSCXSnTMQ6BIZApZAq7P2ZAa837NdjvqQ9kT8V4X0P8dpaxjHR5pqYRyOR5gY1UBzPqxLs3Jb4OLO5YR5mAFP3vEIbb1Y42RBoYcRdM69dQ1dACfo7q05lFZCZA957FHwIaPUbfrVphI8EZAmoyFuEZBYdOWmNFQ4GcBDMryRfbUpkUQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $('Webhook').item.json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"{{ $json.output.replace(/\\\"/g,'\\\\\\\"') }}\"\n  }\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        512,
        128
      ],
      "id": "482a259a-3f20-4b2e-a7f4-62f5bd3e5d2a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.entry[0].messaging[0].message.text }}",
        "options": {
          "systemMessage": "You are a restaurant assistant bot. \nUse the Google Sheet menu data to answer user questions. \nOutput ONLY plain text. \nDo NOT output JSON, tables, or markdown. \nBe friendly and concise.\n\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        96
      ],
      "id": "b0f1c212-067e-409e-97bc-ea297bb0077e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        80,
        304
      ],
      "id": "feeb47d7-e62f-4103-8cfa-ac4a0a4351cb",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "g05OG1QlSofmlfuX",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.entry[0].messaging[0].sender.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        304
      ],
      "id": "9dbb7cac-418e-4cf0-bb68-a37612c42c76",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/14oFQf2DR8dP-AkkZ6HRnqY_fbqleOL5e8zjnDXOO8fU/edit?usp=drive_link",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/14oFQf2DR8dP-AkkZ6HRnqY_fbqleOL5e8zjnDXOO8fU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        400,
        304
      ],
      "id": "61f5809f-509f-4e55-8a78-4537c4cf6632",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2ZP7DSLcCoSjgwkB",
          "name": "Google Sheets account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc11ca7b-bcf1-4fac-b683-0f103c6e40bc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b90e4f743281a790dd1f38bf52454b2a3002e5234f14ed17824b0be948c7e208"
  },
  "id": "H4kvCKB73mHB6LMA",
  "tags": []
}